body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #ebebeb;
}

.bg-platinum {
  background-color: #ebebeb;
  color: #585563;
}

.bg-powder-blue {
  background-color: #bbe6e4;
  color: #585563;
}

.bg-cornflower-blue {
  background-color: #658ffb;
  color: #585563;
}

.bg-cornflower-blue-reverse {
  background-color: #ebebeb;
  color: #658ffb;
}

.bg-text-dark-liver{
  color: #585563
}

.img-resized {
  width: auto;
  height: 500px;
}

.bg-white-grey {
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* EBEBEB da ricordare al posto del bianco
Alternativa F9F9ED */
.bg-row-1 {
  background-color: #658ffb7b;
}
.bg-row-2 {
  background-color: #bbe6e47b;
}

/* Hide scrollbar for Chrome, Safari and Opera 
 .horizontalrow::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox 
.horizontalrow {
  -ms-overflow-style: none;  /* IE and Edge 
  scrollbar-width: none;  /* Firefox 
} 
*/

.shadowActive {
  box-shadow: 0 0px 15px 2px #658ffb;
  transition: box-shadow 0.5s;
}

.shadowOff {
  box-shadow: 0 0px 0px 0px #ebebeb;
  transition: box-shadow 0.5s;
}

.myButton {
  background-color: #ebebeb;
  color: #658ffb;
  border: 2px solid #658ffb;
  border-radius: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
}

.myButton:hover {
  background-color: #658ffb;
  color: #ebebeb;
  border: 2px solid #658ffb;
  transition: background-color 0.5s;
}

.myButton2 {
  background-color: transparent;
  color: #ebebeb;
  border: 2px solid #ebebeb;
  border-radius: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: 100px;
  left: 37%;
}

.myButton2:hover {
  background-color: #ebebeb;
  color: #658ffb;
  border: 2px solid #ebebeb;
  transition: background-color 0.5s;
}

#boxS {
  display: none;
}

#box1 {
  background-color: #658ffb;
  width: 500px;
  height: 400px;
  position: relative;
  left: 5%;
  bottom: 10%;
  transform: rotate(10deg);
  border-radius: 50%;
}
#box2 {
  background-color: #bbe6e4;
  width: 600px;
  height: 400px;
  transform: rotate(-10deg);
  border-radius: 50%;
  position: relative;
}
#title1 {
  position: relative;
  top: 100px;
  left: 70px;
  width: 70%;
  font-size: 50px;
  color: #ebebeb;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.textLanding {
  width: 80%;
  text-align: right;
  color: #585563;
  font-family: 'Helvetica Neue', sans-serif;
}

.textLanding1 {
  width: 80%;
  text-align: right;
  color: #585563;
  font-family: 'Helvetica Neue', sans-serif;

}

.titoloSlider {
  color: white;
  font-size: 40px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
}

.side-crop {
  max-height: 500px;
  overflow: hidden;
}
.side-crop img {
  max-height: initial;
}

.textPlayVideo {
  width: 70%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.text-center {
  width: 100%;
  text-align: center;
}

.text-title {
  font-size: large;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  #box2 {
    width: 450px;
    height: 350px;
  }
  #box1 {
    width: 400px;
    height: 350px;
  }
  #title1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  #boxS {
    display: block;
  }

  #titleS {
    color: #658ffb;
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  #myButtonS {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 150px;
  }

  #box2 {
    display: none;
  }

  .marginTextlanding {
    margin-top: 80px;
    margin-bottom: 70px;
  }

  .textLanding {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .textLanding1 {
    width: 100%;
    text-align: center;
  }

  .textPlayVideo{
    width: 80%;
  }

  .iconaScegliProfilo{
    width: 50%;
  }

  
}

@media screen and (max-width: 500px) {

#slide{
  display: none;
}

.textPlayVideo{
  width: 95%;
}

.carousel-indicators{
  display: none;
}

.titoloSlider {
  font-size: 25px;
  color: #658ffb;
  background-color: #ebebeb;
  font-weight: 200;
  position: relative;
  top: -50px;
}

.marginTitoloRigaSmartphone{
  margin-top: -50px !important;
}

.posizioneButtonSmartphone{
  position: relative;
  top: -10px;
}

.drk:after {
  opacity: 0;
}

.side-crop {
  height: 1000px;
  overflow: hidden;
}

}

.carousel-control-prev {
  display: none !important;
}

.carousel-control-next {
  display: none !important;
}

.scorri {
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scorri::-webkit-scrollbar {
  display: none;
}

.imgRiga {
  width: 100%;
  border-radius: 5px;
}


.buttonRiga{
  width: 200px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  padding: 6px;
}

.buttonRigaNotifiche{
  width: 200px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  padding: 6px;
}

.title-riga{
  position: relative;
  bottom: -15px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 300
}

#slide{
  opacity: 40%;
}
#slide:hover{
  opacity: 100%;
  transform: scale(1.4);
}

.textCenter{
  width: 100%;
  text-align: center;
}

.modale{
  color: #585563;
  font-family: 'Helvetica Neue', sans-serif;
}


.icon-scegli-profilo{
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  padding: 5px;
}


.Lato-title{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 35px;
}

.Lato-light{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.Lato-bold{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.linkNavBar{
  color: #585563;
  text-align: center;
  padding: 20px;
}
